@charset "UTF-8";
.recMenuContainer {
	z-index: 20;
	width: 100%;
	height: 230px;
	overflow-x: scroll;
	display: flex;
	padding: 5px;
}

.menuList {
	display: flex;
	height: 70px;
}

.menuList .menuItem {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	color: white;
}

.menuList .menuItem:not(:first-child) { margin-left: 4px; }

.menuList .menuItem img {
	width: 100%;
	height: 100%;
}

.menuList .menuItem .moreCnt {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restaurant-detail { padding: 5px 0 10px 0; }

.recMenuContainer > .recMenuItem {
	width: 150px;
	height: 90px;
	position: relative;
}

.recMenuContainer > .recMenuItem > .pic {
	width: 100%;
	height: 130px;
}
.recMenuContainer > .recMenuItem > .pic  > img{
	width: 100%;
}

.recMenuContainer > .recMenuItem > .info {
	width: 100%;
	height: 30px;
}
.delIconContainer {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
}
.delContainer {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 5px;

}
#carouselContainer {
	transition: 1s;
	opacity: 0;
	z-index: -10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000A;
	display: flex;
	justify-content: center;
	align-items: center;
}
#carouselContainer #imgContainer {
	width: 50%;
	height: 80%;
	background-color: #fff;
	position: relative;
}
.material-icons { cursor: pointer; }
#carouselContainer > .material-icons {
	display: inline-block;
	position: absolute;
	color: #95a5a6;
	cursor: pointer;
	font-size: 2rem;
	background-color: black;
	top: 20px;
	right: 20px;
}
.swiper-container {
	width: 100%;
    height: 100%;
}

#sectionContainerCenter {
	z-index: 20;
	overflow: auto;	
}
.swiper-slide .delContainer {
	position: absolute;
	top: 10px;
	left: 10px;
}
.material-icons { cursor: pointer; }

.swiper-container .imgDel {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 100;
	background-color: white;
}
.swiper-container .imgDel .material-icons {
	font-size: 3rem;
	color: black;
}

.swiper-container .swiper-wrapper .swiper-slide {
	display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container .swiper-wrapper .swiper-slide img {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.restaurant-detail {
	padding: 5px 0 10px 0;
}
.restaurant-detail .restaurant_title_wrap {
	display: flex;
	align-items: center;
}
.restaurant-detail #favorite {
	color: #e84393;
	margin-left: 20px;
}
.restaurant_title_wrap { margin: 0; padding: 0; }